$color-primary-light-1: #ffec99;
$color-primary-light-2: #e7e970;
$color-primary: #9dd436;
$color-primary-dark: #489b19;

$color-white: #fff;
$color-grey-light-1: #f0f0f0;
$color-grey-light-2: #eeeeee;
$color-grey-light-3: #e0e0e0;

$color-black: #000;
$color-grey-dark-1: #3f3f3f;
$color-grey-dark-2: #707070;
$color-grey-dark-3: #9c9c9c;
