.quiz__answer--disable-activity {
  pointer-events: none;
}

.quiz__score-card, .quiz {
  border-radius: 0.9rem;
  background-color: rgba(224, 224, 224, 0.4);
  -webkit-backdrop-filter: blur(0.2rem);
  backdrop-filter: blur(0.35rem);
  box-shadow: 1rem 1rem 4rem 0 rgba(72, 155, 25, 0.4);
  display: flex;
  flex-direction: column;
  grid-column: 2/span 1;
  margin: auto;
  padding: 2rem 4rem;
  transition: all 0.3s;
}

@keyframes floatAnimation {
  0% {
    opacity: 1;
    border-radius: 50%;
    transform: translateY(0) rotate(0) scale(1);
  }
  100% {
    opacity: 0;
    border-radius: 0;
    transform: translateY(-70vh) rotate(720deg) scale(0);
  }
}
@keyframes slowRotate {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
@keyframes slowBounce {
  0% {
    transform: translateY(-0.4rem);
  }
  50% {
    transform: translateY(0.8rem);
  }
  60% {
    transform: translateY(0.4rem);
  }
  70% {
    transform: translateY(0.1rem);
  }
  100% {
    transform: translateY(-0.4rem);
  }
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
@media only screen and (min-width: 75em) {
  html {
    font-size: 75%;
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 87.5%;
  }
}
@media only screen and (max-width: 37.5em) {
  html {
    font-size: 52.06%;
  }
}

body {
  font-size: 1.728rem;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
}

header {
  letter-spacing: 0.1rem;
  color: #9dd436;
  font-size: 0.579rem;
  text-transform: uppercase;
  grid-column: 2/span 1;
  grid-row: 2/span 1;
  display: flex;
  align-items: flex-end;
  padding-left: 2.7rem;
  margin-bottom: 0.9rem;
}

.backdrop {
  min-height: 100vh;
  background: linear-gradient(to right bottom, #ffec99, #e7e970 8% 16%, #9dd436, #489b19);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #fff;
}
.backdrop__shape {
  position: absolute;
  display: block;
  bottom: -5rem;
  animation: floatAnimation 25s linear;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.quiz__question {
  border-radius: 0.9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 2.074rem;
  font-weight: 700;
  color: #3f3f3f;
  text-align: center;
  background-color: #f0f0f0;
  padding: 2.7rem 4rem;
}
.quiz__flag {
  height: 3rem;
  margin-top: 2rem;
  box-shadow: 0 0 2rem 0.5rem rgba(63, 63, 63, 0.15);
}
.quiz__container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1.5rem 0 0;
  color: #3f3f3f;
  font-weight: 500;
  background-color: transparent;
  text-align: center;
}
.quiz__container > * {
  border-radius: 0.9rem;
}
.quiz__answer {
  border: 0.15rem solid #fff;
  background-color: transparent;
  color: inherit;
  padding: 0.9rem 0;
  transition: all 0.3s linear;
}
.quiz__answer:hover {
  background-color: #fff;
  transform: translateY(-0.2rem);
}
.quiz__answer--correct {
  background-color: #489b19;
  border: 0.15rem solid #489b19;
  color: #f0f0f0;
  transform: translateY(-0.2rem);
}
.quiz__answer--incorrect {
  background-color: rgba(255, 255, 255, 0.5);
  border: 0.15rem solid rgba(255, 255, 255, 0.5);
  color: rgba(112, 112, 112, 0.6);
  transform: translateY(-0.2rem);
}
.quiz__answer-rbtn {
  display: none;
}
.quiz__answer:not(:last-child) {
  margin-bottom: 1.4rem;
}
.quiz__score-card {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 50vh;
  min-width: 50vh;
}
.quiz__score-card .svg-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 0.8rem;
  margin-top: 0.5rem;
  min-height: 100%;
  min-width: 100%;
}
@media only screen and (max-width: 37.5em) {
  .quiz__score-card .svg-container {
    margin-top: 0;
  }
}
.quiz__score-card .svg-container .try-again__btn {
  display: inline-block;
  animation: slowRotate 6s linear infinite paused;
}
.quiz__score-card .svg-container .try-again__btn:hover {
  animation-play-state: running;
}
.quiz__score-card .svg-container .try-again__icon {
  fill: #b1cd3e;
  transition: all 0.35s;
  backface-visibility: hidden;
  background-color: #f0f0f0;
  background-image: -o-linear-gradient(top, #eeeeee, #e0e0e0);
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  box-shadow: 0 0.3rem 0.8rem rgba(156, 156, 156, 0.8), inset 0px 0.2rem 0.3rem #fff;
}
.quiz__score-card .svg-container .try-again__icon:hover {
  fill: #7e9822;
  background: #fff;
}
@media only screen and (max-width: 37.5em) {
  .quiz__score-card .svg-container .try-again__icon {
    width: 6rem;
    height: 6rem;
  }
}
.quiz__score-card .svg-container .earth-love__icon {
  margin-top: 1.5rem;
  filter: drop-shadow(0.5rem 1rem 0.8rem rgba(63, 63, 63, 0.25));
  animation: slowBounce 3s linear infinite;
}
.quiz__score-message {
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  color: #9c9c9c;
}
.quiz__score {
  color: #489b19;
  font-size: 4.64rem;
  font-weight: 700;
}
.quiz--active {
  grid-row: 3/span 1;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  transform: translateY(0);
}
.quiz--prev {
  display: flex;
  justify-content: center;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  grid-row: 1/span 1;
  transform: translateY(-100vh);
}
.quiz--next {
  display: flex;
  justify-content: center;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  grid-row: 5/span 1;
  transform: translateY(100vh);
}

main {
  z-index: 1;
  display: flex;
  justify-content: center;
  grid-column: 2/span 1;
  grid-row: 3/span 1;
}

.grid__5-3, .container {
  display: grid;
  -ms-grid-column: minmax(0, 1fr) minmax(min-content, max-content) minmax(0, 1fr);
  grid-template-columns: minmax(0, 1fr) minmax(min-content, max-content) minmax(0, 1fr);
  -ms-grid-row: 0 minmax(0vh, 15vh) minmax(max-content, 70vh) minmax(0vh, 15vh) 0;
  grid-template-rows: 0 minmax(0vh, 15vh) minmax(max-content, 70vh) minmax(0vh, 15vh) 0;
}
@media only screen and (max-width: 37.5em) {
  .grid__5-3, .container {
    -ms-grid-column: 0 100% 0;
    grid-template-columns: 0 100% 0;
  }
}